# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=123456
# POSTGRES_DB=chat_db
# DATABASE_URL=postgresql+asyncpg://postgres:123456@db:5432/chat_db

# SECRET_KEY=AFLJsKFHHKJHhfks
# ALGORITHM=HS256

# ACCESS_TOKEN_EXPIRE_MINUTES=15
# REFRESH_TOKEN_EXPIRE_DAYS=30


# MINIO_ENDPOINT=minio:9000
# MINIO_ACCESS_KEY=iUIfzmzxnaiwuiefnzf8464
# MINIO_SECRET_KEY=mzn,vn,zmnxcovieoujofjafvzblhzdvzdfvnziduvn

# FCM (Firebase Cloud Messaging) для push-уведомлений
# FCM_CREDENTIALS_PATH=./firebase-credentials.json
# FCM_PROJECT_ID=your-project-id